ul.tabs-nav
    li(data-tab-name="tab-1").tabs-nav__item.tabs-nav__item--active Таб 1
    li(data-tab-name="tab-2").tabs-nav__item Таб 2

.tabs-content
    .tabs-content__item.tab-1.tabs-content__item--active
        p 1
    .tabs-content__item.tab-2
        p 2
